# Node.js
NODE_ENV=test
HOST=example.com
PORT=80

# App
APP_KEY=this-is-a-fake-secret-key
LOG_LEVEL=info
SESSION_DRIVER=memory
TZ=Europe/Berlin

# Database
DATABASE_URL=postgres://devjournal:password@0.0.0.0:5432/test
