# Docker
COMPOSE_DOCKER_CLI_BUILD=1
COMPOSE_PROJECT_NAME=devjournal
DEVELOPMENT=1
DOCKER_BUILDKIT=1

# Node.js
NODE_ENV=development
HOST=localhost
PORT=3333

# App
APP_KEY=secret
LOG_LEVEL=info
SESSION_DRIVER=cookie
TZ=Europe/London

# Database
DATABASE_URL=postgres://devjournal:password@0.0.0.0:5432/devjournal
